* {
    margin: 0;
    padding: 0;
}
body {
    /* background-color: rgb(175, 175, 175); */
    background: white;
}
header {
    display: flex;
}
.distortion {
    width: 600px !important;
    height: 100vh !important;
    border-radius: 100%;

}
header {
    height: 100vh;
}
.left {
    width: 50%;
    padding-left: 8%;
    padding-right: 10%;
    padding-top: 12%;
    background-image: url(/img/Untitled.png);
    background-size: cover;
    background-position: bottom;
    /* background-repeat: no-repeat; */
    /* color: black; */
}
.name {
    font-size: 25px;
    letter-spacing: 0.8em;
    color: rgb(119, 118, 118);
}
.tag-line {
    font-size: 14px;
    padding-top: 5%;
    font-style: italic;
}
.text {
    font-size: 18px;
    padding-top: 5%;
    line-height: 1.5em;
}
button {
    padding: 15px;
    background: transparent;
    color: rgb(175, 175, 175);
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid rgb(175, 175, 175);
    margin-top: 8%;
    transition: .8s;
}
button:hover {
    background: rgb(175, 175, 175);
    color: white;
}
.one {
    
}